#### 001 УВОЗ CSV ФАЈЛА У JUPYTER РАДНУ СВЕСКУ
Учитајте CSV фајл izostanci.csv. Прикажите табелу у радном листу.

In [23]:
import pandas as pd
izostanci = pd.read_csv("podaci/izostanci.csv", encoding="utf-8")
izostanci

  Име ученика  Оправдани  Неоправдани
0        Дана        120           20
1       Срђан         18            1
2      Немања         75            0
3      Милица         92            0
4        Лена         12            8
5       Ђорђе         10            6
6        Вања         54           10
7       Зоран         18            4
8      Тијана         25            0
9        Нела          6            2

#### 002 ФИЛТРИРАЊЕ НАКОН УВОЗА ИЗ CSV ФАЈЛА
Из учитаног фајла приказати само имена ученика који имају неоправдане часове. Табелу сортирати растуће према броју неоправданих часова.

In [24]:
neopravdani=izostanci[izostanci.Неоправдани>0]
neopravdani.sort_values(by="Неоправдани")[['Име ученика','Неоправдани']]

  Име ученика  Неоправдани
1       Срђан            1
9        Нела            2
7       Зоран            4
5       Ђорђе            6
4        Лена            8
6        Вања           10
0        Дана           20

#### 003 ЧУВАЊЕ JUPYTER ТАБЕЛЕ У CSV ФАЈЛ
Табелу из претходног примера (табелу имена и неоправданих часова) сачувати у новом CSV фајлу са називом: Neopravdani.csv

In [25]:
neopravdani.to_csv("podaci/Neopravdani.csv",encoding="utf-8")